<%- include('partials/header') %>


<div style="background-color: rgb(236, 231, 231); color: rgb(23, 2, 71);" class="jumbotron centered">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
    </svg>
    <i class="bi bi-bookmark-check-fill"></i>
    <h1 class="display-3">Shahu's Note Keeper</h1>
    <p class="lead">Organize your work more efficiently </p>
    <hr>
    <a style="background-color: white; color: rgb(23, 2, 71);" class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a style="background-color: rgb(23, 2, 71); color:white ;" class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
